nmt-host-model/log_1505141841 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/train_log filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-11000.index filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-11000.meta filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-12000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/output_dev filter=lfs diff=lfs merge=lfs -text
nmt-host-model/output_test filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-12000.meta filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-9000.index filter=lfs diff=lfs merge=lfs -text
nmt-host-model/checkpoint filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-10000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-11000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-12000.index filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-8000.meta filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-9000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/best_bleu filter=lfs diff=lfs merge=lfs -text
nmt-host-model/hparams filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-10000.index filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-10000.meta filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-8000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-8000.index filter=lfs diff=lfs merge=lfs -text
nmt-host-model/translate.ckpt-9000.meta filter=lfs diff=lfs merge=lfs -text
